<div class="card h-100">
  <div class="row no-gutters">
    <div class="col-4">
      <img [src]="product.ProductPicUrl" class="card-img" alt="..." />
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.Name }}</h5>
        <p class="card-text">{{ product.Description }}</p>
        <p class="card-text">
          <small class="text-muted">Fiyatı : {{ product.Price }} {{ product.CurrencyCode }}</small>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <div class="btn-group btn-group-sm w-50" role="group" aria-label="Card Actions">
        <button type="button" class="btn btn-sm btn-primary" (click)="addToCart.emit()">Sepete Ekle</button>
        <button
          type="button"
          class="btn btn-sm btn-info"
          *ngIf="goToDetail.observers.length"
          (click)="goToDetail.emit()"
        >
          Ürün Detayı
        </button>
      </div>
    </div>
  </div>
</div>
